.completed{
	text-decoration: line-through;
	color: #848484;
}
.bg-black{
	background-color: black;
	color: white;
}
.mt-5{
	margin-top: 5%;
}
.red{
	color: red;
}
input{
	outline: none;
	border: none;
	width: 60%;
}
input[type=checkbox]{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #c8c6c6;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	margin: 0 5px 0 0;
}
input[type=checkbox]:checked{
	background: green;
}